/* Styles for the login page */
@font-face {
    font-family: my-favorit;
    src: url(../fonts/Merienda/static/Merienda-Regular.ttf);
  }

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d8d8d9;
    font-family: my-favorit, sans-serif;
}

.login-container {
    background-color: #737373;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #fff;
}

.login-container img.logo {
    width: 70px;
    margin-bottom: 20px;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
}

.login-btn {
    background-color: #fb7725;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #ff914d;
}

/* Placeholder styles */
::placeholder {
    color: #fff;
}